body {
   font-family: "Chackra Petch" sans-serif;
    color: white;
    background-color: rgb(0, 0, 0);
    display: flex;
text-align: center;
margin:0px

}

header {
border-bottom: solid 5px rgb(209, 22, 22);
padding: 20px;
font-size: 32px;
color: rgb(216, 29, 38);
}
h1 {
   font-size: 40px;
    color: brown;
}
p {
    font-size: 20px;
    color: aliceblue;
}

.kiss {
    font-style: italic;
}